*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

html, body{
    height: 100%;
    width: 100%;
   
}

.main{
    height: 100%;
    width: 100%;
    
}


.navbar{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid #66666630;
    padding: 0 15% 0 15%;
    /* position: fixed; */
    background-color: white;
   

}

.nav-img{
    height: 17px;
    width: 140px;
    background-image: url("logo.svg");
    background-size: cover;
    cursor: pointer;

}



 
.page-4{
    height: 50vh;
    width: 100%;
    padding: 0px 13% 0px 22%;
    display: flex;
    margin-top: 140px;
}


   
 .page-4-img{
    height: 100%;
    width: 80%;
 
  }
 
 .page-4-img img{
    height: 100%;
    width: 80%;
   background-size: cover;
   
 }

 .page-4-text{
    height: 100%;
    width: 35%;

 }

 .page-4-text h2 {
    font-weight: 500;
    color: #424242;
    padding-top: 10%;
    font-size: 30px;
    margin-bottom: 10px;
 }

 .page-4-text span{
    font-size: 16px;
    color: #9b9b9b;
   
 }

 .user-mobile{
    height: 45px;
    width: 270px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    border: 1px solid #9b9b9b;
    border-radius: 3px;
    position: relative;
 
 } 




 .user-mobile input{
    height: 100%;
    width: 80%;
    /* color: #9b9b9b; */
    font-size: 19px;
    padding: 0px 15px 0px 10px;
    border: none;
    position: relative;
    font-size: 16px;
    
 }


 
 .user-mobile label{
   height: 14px ;
   width: 90px;
   background-color: white;
   color: #9b9b9b;
   font-size: 11px;
   margin: 0px 0px 4px 10px;
   padding: 0px 5px;
   position: absolute;
   z-index: 5;
   top: -7px;
 }

 .user-mobile span{
   height: 100%;
   width: 18%;
   background-color: #fafafb;
   padding: 13px 10px ;
   color: black;
   font-size: 14px;
   border-radius: 3px 0px 0px 3px;
  
 }





 input:focus {
    outline: none;
}

.user-mobile:focus-within{
   border: 1.8px solid rgba(118, 118, 118, 0.915);
}

.page-4-text p{
    font-size: 12px;
    color: #9b9b9b;
    margin: 5px 0px 15px 0px;    
}

button{
    height: 40px;
    width: 135px;
    background-color: #387ed1;
    border: none;
    font-size: 14px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

button:hover{
    opacity: 0.7;
}


.page-4-text h5{
    font-size: 12px;
    font-weight: 500;
    color: #387ed1;
    margin: 12px 0px 15px 0px;
    cursor: pointer;
}

.page-4-text h5:hover{
    color: #424242;
}


.text-2{
    height: 24vh;
    width: 100%;
    padding: 0% 18% 0% 18%;
    margin-top: 50px;
    font-size: 12px;
    color: #666666;
    text-align: center;
}

.text-2 p{
    margin-bottom: 8px;
}

.text-2 h4{
    font-weight: 400;
    text-align: center;
    margin-bottom: 8px;
}

.text-2 span{
    color: #387ed1;
    cursor: pointer;
}

.text-2 span:hover{
   color: black;
}


.page-6{
    height: 58vh;
    width: 100%;
    background-color: #fbfbfb;
    border-top: 1px solid rgba(0, 0, 0, 0.118);
    padding: 3% 13% 3% 13%;
    display: flex;
    
 }
 
 
 .ele-1{
    height: 100%;
    width: 25%;
    
 
 }
 
 .ele-1 h4{
    font-size: 18px;
    color: #424242;
    margin-bottom: 20px;
    font-weight: 500;
 }
 
 .ele-1 p{
    font-size: 16px;
    color: #666666;
    font-weight: 500;
    line-height: 33px;
    cursor: pointer;
 }
 
 .ele-1 p:hover{
    color: #387ed1;
 }
 
 .ele-2{
    height: 100%;
    width: 25%;
   padding: 5px 20px 10px 20px;
 }
 
 .ele-2 img{
    height: 20px;
    width: 150px;
    background-size: cover;
    margin-bottom: 15px;
 
 }
 
 .ele-2 p{
    font-size: 12px;
    color: #424242;
    line-height: 23px;
 }
 
 .ele-logo1{
    height: 30px;
    width: 100%;
    margin-top: 15px;
 }
 
 .ele-logo2{
    height: 30px;
    width: 100%;
    margin-top: 15px;
 }
 
 
 
 .ele-logo1 i{
    margin-top: 20px;
    font-size: 19px;
    color: #666666;
    margin-right: 16px;
    cursor: pointer;
  
 }
 .ele-logo2 i{
    margin-top: 20px;
    font-size: 19px;
    color: #666666;
    margin-right: 16px;
    cursor: pointer;
 }
 
 .ele-logo1 i:hover{
    color: #387ed1;
 }
 
 .ele-logo2 i:hover{
    color: #387ed1;
 }
 
 hr{
    border-top: 0.8px solid #eeeeeebc;
    position: relative;
    top: 22px;
    left: 0;
 }

.page-7{
    height: 55vh;
    width: 100%;
    background-color: #fbfbfb;
    padding: 0% 14% 0% 14%;
    font-size: 10px;
    color: #9b9b9b;
    line-height: 18px;
    
 }
 
 .page-7 p{
    margin-bottom: 15px;
 }
 
 .page-7 span{
    color: #387ed1;
    font-weight: 500;
    cursor: pointer;
 }
 .page-7 span:hover{
    color: #424242;
 }
 
 .page-ul{
    height: 45px;
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
 }
 
 .page-ul p:hover{
    color: #387ed1;
 }
